*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.emails{
    background: #ffffff;
    padding: 20px ;
    border-radius: 5px;
}
.recent_mails_page{
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.recent_mails{
    font-size: 20px;
    font-weight: 600;
}
.mail_ul{
    list-style: none;
    margin-top: 20px;
}
.mail_ul li{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid grey;
}
.mail_details_header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    justify-content: space-between;
     align-items: center;
     font-weight: 600;
    
}
.mail_details{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px
}
