@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Poppins", sans-serif; */
}
.invoice_container{
  background-color: rgb(196, 214, 231);
  padding: 10px;
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 0px 0.2px 0.2px rgb(196, 214, 231) ;
}
.relative__container {
  /* width: 60%; */
  position: relative;
}
.full__width img {
  width: 300px;
  height: 260px;
  position: relative;
  border-radius: 1.5rem;
  box-shadow: rgba(31, 75, 255, 0.28) 0px 10px 10px 0px;
}
.object__fit img {
  object-fit: cover;
  display: block;
}
.absolute {
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 54%;
}
.icon {
  width: 37px;
  height: 37px;
  margin-bottom: 6px;
  stroke: #c2a30b;
  color: rgb(209, 173, 12);
  filter: drop-shadow(0px 12px 12px #1c274f);
}

h1 {
  font-size: 28px;
  
  color: #fff;
}
p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.75);
}
.button {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  width: 200px;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  padding: 11px 6px;
  text-decoration: none;
  display: inline-block;
  transition: 0.25s;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(17, 12, 46, 0.2) 0px 48px 60px 0px;
}
.button:active {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
}
/* --------============payment history start================--- */
.records{
  padding: 20px;
  list-style-type: none;
}
.payment_history{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    color:#252525;
    background-color: #ffffff;
    font-size: large;
    
}
.payment_history >div{
    font-weight: 800;
}
.record_header{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 20px;
    color: #252525;
    background-color: #d0cfcf;
    font-weight: 600;
}
.record_details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 10px;
    border:1px solid #d0cfcf;
    background-color: #fff;
    box-shadow: rgba(20,30,40,0.5) 0px 4px 10px 0px;
}

/* --------============payment history start================--- */



@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  .full__width img {
    width: 100%;
    height: 420px;
    border-radius: 0.75rem;
  }
  .absolute {
    padding: 20px;
    width: 100%;
    text-align: center;
  }
  .icon {
    width: 53px;
    height: 53px;
    margin-bottom: 16px;
  }
  h1 {
    font-size: 28px;
  }
  p {
    font-size: 16px;
    line-height: 22px;
    width: 100%;
  }
  .button {
    display: block;
  }
}
