*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:100%;
    height: 100vh;
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_container{
    width: 50%;
    height: 90vh;
    background-image: url(./Mobile-login-Cristina.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.log_details{
    width:40%;
    height: 90vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.log_details .log_label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: rgb(65, 65, 65);
    padding: 45px;
    font-family: 'popins', 'sans-serif';
}
.log_details .log_label p{
    font-size: 13px;
   
}
.field_btn div{
  margin: 10px 0;
}

.field_btn form{
 
    font-family: 'popins', 'sans-serif';
}
.field_btn label{
    font-weight: 600;
    color: #424242;
     
}
.field_btn input{
    width: 100%;
    height: 20px;
    border: none;
    border-bottom: 1px solid #252525;
    outline: none;
    margin: 0px 0px 10px 0;
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    color: #424242;
}
.btn button{
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 20px;
    outline: none;
    background-color: #013047;
    color: #fff;
    font-weight: 600;
    font-family: 'popins', 'sans-serif';
    cursor: pointer;
}
.btn >p >a{
    text-decoration: none;
    color: #013047;
    font-weight: 600;
    font-family: 'popins', 'sans-serif';
}

/* responsiveness*/
@media (min-width:320px) and (max-width:480px){

    .container{
        display: flex;
        flex-direction: column;
        
    }
    .image_container{
        width: 100%;
        height: 50vh;
    }
    .log_details{
        width: 100%;
        height: 50vh;
    }
    .btn button{
        width: 100%;
        height: 40px;
        border: none;
        margin-top: 20px;
        outline: none;
        background-color: #013047;
        color: #fff;
        font-weight: 600;
        font-family: 'popins', 'sans-serif';
        cursor: pointer;
    }

}
@media screen and (min-width: 481px) and (max-width: 767px){
    .container{
        display: flex;
        flex-direction: column;
        
    }
    .image_container{
        width: 100%;
        height: 50vh;
    }
    .log_details{
        width: 100%;
        height: 50vh;
    }
    .btn button{
        width: 100%;
        height: 40px;
        border: none;
        margin-top: 20px;
        outline: none;
        background-color: #013047;
        color: #fff;
        font-weight: 600;
        font-family: 'popins', 'sans-serif';
        cursor: pointer;
    }
}
    
